<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>告警管理</title>
    <link rel="stylesheet" href="../jsp/plugin/layer/skin/default/layer.css"/>
    <link rel="stylesheet" href="../jsp/plugin/easydialog/easydialog.css"/>
    <link rel="stylesheet" href="../jsp/plugin/asyncbox/skins/default.css"/>
    <link rel="stylesheet" href="../jsp/portal/resource/css/zoom-detect.css"/>
    <link rel="stylesheet" href="../jsp/portal/resource/css/pager.css"/>
    <link rel="stylesheet" href="../jsp/plugin/easydialog/easydialog.css"/>
    <link rel="stylesheet" href="../jsp/portal/resource/css/style_blue.css"/>
    <link rel="stylesheet" href="../jsp/portal/resource/css/index.css"/>
    <link rel="stylesheet" href="../jsp/plugin/jquery-autocomplete/jquery.autocomplete.css">
    <link rel="stylesheet" href="../jsp/plugin/JQueryzTree/css/zTreeStyle/zTreeStyle.css"/>
    <link rel="stylesheet" href="../jsp/plugin/jquery-select/css/select2.css"/>
    <link rel="stylesheet" href="../jsp/portal/resource/css/jquery.minicolors.css"/>
    <link rel="stylesheet" href="../jsp/portal/resource/css/style_2.0_blue.css"/>
</head>
<body>
<div id="warnManage" style="height: 100%;">

    <form id="redirectForm" action="stationPicAction_showPointMessage" target="_blank" method="post">
        <input type="hidden" id="psKey" name="psKey" value="">
        <input type="hidden" id="uuid" name="uuid" value="">
        <input type="hidden" id="powerStationId" name="psId" value="">
    </form>
    <input type="hidden" id="selectPsId" value="108816">
    <input type="hidden" id="curPage" value="1">

    <!--------首页右下content-------->
    <div id="map_wap_div" class="map_wap">
        <div class="map_select clearfix single_no_show">
            <div class="map_select clearfix">
                <div class="map_select_wrap fl" style="height: auto;">
                    <div class="hd" id="map_select_wraphd">
                        <a href="javascript:;"><i class="map_seicon_1" title="电站名称"></i>
                            <span class="secondnav_bg4">电站名称<i class="secondnav_bgIcon2"></i></span>
                        </a>
                        <a href="javascript:;"><i class="map_seicon_2" title="装机功率"></i>
                            <span class="secondnav_bg4">装机功率<i class="secondnav_bgIcon2"></i></span>
                        </a>
                        <a href="javascript:;"><i class="map_seicon_3" title="类型"></i>
                            <span class="secondnav_bg4">类型<i class="secondnav_bgIcon2"></i></span>
                        </a>
                        <a href="javascript:;"><i class="map_seicon_4" title="并网时间"></i>
                            <span class="secondnav_bg4">并网时间<i class="secondnav_bgIcon2"></i></span>
                        </a>
                        <a href="javascript:;"><i class="map_seicon_5" title="地址确定选择"></i>
                            <span class="secondnav_bg4">地址确定选择<i class="secondnav_bgIcon2"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="contentDiv" class="map_con clearfix" style="padding-right: 80px">
            <div id="Searchresult"></div>
            <div id="hiddenresult" style="display: none;"></div>
            <div class="map_con_fl fl">
                <div id="psDetail">
                    <div id="basecolor" class="basecolor" style="display: none"></div>
                    <ul class="treeDemoId">
                        <li id="lp108816" class="on">
                            <a href="javascript:;" title="湖北广水I期20MW">湖北广水I期20MW</a>
                            <input type="hidden" class="psId" value="108816"><input type="hidden" class="psName"
                                                                                    value="湖北广水I期20MW">
                            <ul id="power_sec_Ul" class="ztree"></ul>
                        </li>
                        <li id="lp109189" class="">
                            <a href="#" title="宁夏灵武50MW">宁夏灵武50MW</a>
                            <input type="hidden" class="psId" value="109189"><input type="hidden" class="psName"
                                                                                    value="宁夏灵武50MW">
                            <ul id="tps109189" class="ztree" style="display:none;"></ul>
                        </li>
                        <li id="lp109190" class="">
                            <a href="#" title="山东莒县40MW">山东莒县40MW</a>
                            <input type="hidden" class="psId" value="109190"><input type="hidden" class="psName"
                                                                                    value="山东莒县40MW">
                            <ul id="tps109190" class="ztree" style="display:none;"></ul>
                        </li>
                        <li id="lp109192" class="">
                            <a href="#" title="四川会理30MW">四川会理30MW</a>
                            <input type="hidden" class="psId" value="109192"><input type="hidden" class="psName"
                                                                                    value="四川会理30MW">
                            <ul id="tps109192" class="ztree" style="display:none;"></ul>
                        </li>


                    </ul>
                    <input id="totalCount" type="hidden" value="4">
                </div>
                <div class="map_con_fl_page">
                    <div class="map_con_fl_page_b" id="Pagination">
                        <a class="fl pager_class_color prev"></a>
                        <a class="map_con_fl_pageprev fl prev"></a>
                        <a class="fl pager_class_color">1</a>
                        <a class="fl pager_class_color next"></a>
                        <a class="map_con_fl_pagenext fl next"></a>
                    </div>
                </div>
            </div>
            <div id="faultPage_all" class="maxbox_show tendency_ri fr clearfix lch_tendency_ri">
                <div class="yg-qxtop clearfix">
                    <div class="yg-qxtitle fl">时间范围:</div>
                    <div class="clearfix fl" style="position: relative;">
                        <div class="date_btn quick_date fl" style="width:220px;">
                            <input id="dateHid" type="hidden" value="">
                            <span id="quick_date1"></span>-<span id="quick_date2"></span>
                        </div>
                        <span class="date_btn fl"> <img
                                src="../jsp/portal/resource/images/date_btn.jpg"
                                alt=""> </span>

                        <div class="dateWrap dateWrap_tit2_wrap" id="dateWrap_id" style="left:15px;">
                            <div class="dateWrap_tit hd">
                                <h1>快捷选择</h1>
                                <ul class="clearfix dateWrap_tit2">
                                    <li class="on">日</li>
                                    <li>周</li>
                                    <li>月</li>
                                    <li>季</li>
                                    <li class="nomar">年</li>
                                </ul>
                            </div>

                            <div class="bd ate_togg">
                                <ul class="active">
                                    <div class="inputbox">
                                        <div>
                                            <span style="width:35px;display: inline-block;">从</span><input
                                                id="start" readonly="readonly" class="Wdate" type="text" value=""
                                                onfocus="WdatePicker({dateFmt:'yyyy-MM-dd 00:00',isShowClear:false,readOnly:true, maxDate:'%y-%M-%d',lang:'zh_cn'})"
                                                style="width:85%;">
                                        </div>
                                        <div>
                                            <span style="width:35px;display: inline-block;">到</span><input id="end" readonly="" class="Wdate" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd 23:59',isShowClear:false,readOnly:true, maxDate:'%y-%M-%d',lang:'zh_cn'})" style="width:85%;">
                                        </div>
                                    </div>
                                    <a href="javascript:;" class="wrap_su" data-dateType="twoday">确认</a>
                                </ul>
                                <ul>
                                    <div class="inputbox">
                                        <input id="week" readonly="" class="Wdate" type="text"
                                               onfocus="WdatePicker({isShowWeek:true,onpicked:funccc,errDealMode:3,isShowClear:false,readOnly:true,maxDate:'%y-%M-%d',lang:'zh_cn'})">
                                    </div>
                                    <a href="javascript:;" class="wrap_su" data-dateType="week">确认</a>
                                </ul>
                                <ul>
                                    <div class="inputbox">
                                        <input id="month" readonly="" class="Wdate" type="text"
                                               onfocus="WdatePicker({dateFmt:'yyyy-MM',isShowClear:false,readOnly:true,maxDate:'%y-%M-%d',lang:'zh_cn'})">
                                    </div>
                                    <a href="javascript:;" class="wrap_su" data-dateType="month">确认</a>
                                </ul>
                                <ul>
                                    <div class="inputbox">
                                        <input type="text" id="jidu" onclick="WdatePicker({dateFmt:'yyyy年M季度', isQuarter:true,isShowClear:false,readOnly:true, isShowOK:false,disabledDates:['....-0[5-9]-..','....-1[0-2]-..'], startDate:'%y-01-01',maxDate:'%y-%M-%d',lang:sysLang})" class="Wdate" readonly="">
                                    </div>
                                    <a href="javascript:;" class="wrap_su" data-dateType="month">确认</a>
                                </ul>
                                <ul>
                                    <div class="inputbox">

                                        <input id="year" class="Wdate" readonly="" type="text"
                                               onfocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'yyyy年',maxDate:'%y-%M-%d',lang:'zh_cn'})">
                                    </div>
                                    <a href="javascript:;" class="wrap_su" data-dateType="year">确认</a>
                                </ul>
                            </div>
                            <input type="hidden" name="currenttime" id="currenttime">
                        </div>
                    </div>
                    <div class="yg_topform2 fl" style="margin-left:5px; margin-right:5px;">
                        故障编号:&nbsp;&nbsp;
                        <input type="text" id="fault_code" class="yg_toptext" value="" placeholder="故障编号">
                    </div>
                    <div class="yg_topform2 fl" style="margin-left:5px; margin-right:5px;">
                        故障名称:&nbsp;&nbsp;
                        <input type="text" id="fault_name" class="inputText yg_toptext" value="" placeholder="故障名称">
                    </div>
                    <div class="yg_fomsub fl" style="margin-left:0px;">
                        <input type="submit" class="yg_sub" value="查询" @click="search">
                    </div>
                    <div class="clearfix fr" style="position: relative;">

                        <div class="allsite_dateri fl clearfix" style="margin-right:30px; padding-left:0px;">
                            <input type="checkbox" onclick="refreshTime_point();" id="setTime_point"
                                   class="fl allsite_dateriCheckbox">
                            <span class="fl reshdate">刷新时间</span>
                    <span id="allsite_dateYear1" class="fl allsite_datej abcd" style="opacity: 0.7;">
                                <em style="opacity: 0.7;"><i id="point_time">5</i>min</em> <a href="javascript:;"
                                                                                              class="allsite_dateUpBtn1"></a> <a
                            href="javascript:;" class="allsite_dateDownBtn1"></a> </span>

                        </div>
                    </div>
                </div>
                <div class="yg-qxtop2 clearfix">
                    <div class="ygtop2-left fl" style="width:auto">
                        <label id="fault_num"><input type="checkbox" @click="checkFaultType()" name="faultType"
                                                     value="1" checked="">事件: <b style="color:red;"
                                                                                  id="fault" v-text="incidentNum">0</b></label>
                        <label id="warn_num"><input type="checkbox" @click="checkFaultType()" name="faultType"
                                                    value="2" checked="">告警 : <b style="color:red;"
                                                                                 id="warn" v-text="warnNum">0</b></label>
                        <label id="prompt_num"><input type="checkbox" @click="checkFaultType()" name="faultType"
                                                      value="3">
                            位置信号 : <b style="color:red;" id="prompt" v-text="positionNum">0</b></label>
                        <label id="advice_num"><input type="checkbox" @click="checkFaultType()" name="faultType"
                                                      value="4">
                            普通遥信 : <b style="color:red;" id="advice" v-text="signalNum">0</b></label>

                    </div>
                    <div class="fr clearfix">
                        <a href="#" class="fr yg-daochu" style="margin-top:4px;" onclick="exportToExcel();">导出</a>
                        <input type="hidden" id="isOperate" value="1">
                        <a href="javascript:showFaultDialog();" class="fr problem"
                           style="margin-right:10px;">申报故障</a>
                        <a href="javascript:batchPro(9);" class="fr problem deal"
                           style="margin-right: 10px; background-color: rgb(192, 192, 192);"
                           id="batchCloseBtn">批量关闭</a>
                        <a href="javascript:batchPro(1);" class="fr problem deal"
                           style="margin-right: 10px;display: block;background-color:#C0C0C0" id="batchConfirmBtn">转消缺票</a>
                    </div>
                </div>

                <div class="problem_con_back problem_con clearfix" id="gjgl_boxheight">
                    <div class="problem_con_table fl">
                        <div id="tabDiv">
                            <div class="nbq_tab">
                                <div class="nbq_tab_top" style="position: absolute;left:0;top:0;width: 100%;">
                                    <table id="faultTableHead">
                                        <thead>
                                        <tr style="height: 39px">
                                            <th class="gaojing_td1"><input type="checkbox" id="checkAllItems"
                                                                           name="checkAllItems"
                                                                           onclick="checkSelectItemsAndColor(this,'batchIds');">
                                            </th>
                                            <th class="gaojing_td2">故障类型</th>
                                            <th class="gaojing_td3">
                                                <div style="position:relative;">
                                                    <a href="javascript:;" chooseindex="2">故障级别<em
                                                            class="proTriangle"></em></a>
                                                    <input type="hidden" name="params.faultLevel">
                                                    <ul>
                                                        <li onclick="searchByCond(this,'')" style="cursor:pointer;">
                                                            <a href="javaScript:void(0);">全部</a></li>
                                                        <li onclick="searchByCond(this,1)" style="cursor:pointer;">
                                                            <a href="javaScript:void(0);">重要</a></li>
                                                        <li onclick="searchByCond(this,2)" style="cursor:pointer;">
                                                            <a href="javaScript:void(0);">次要</a></li>
                                                        <li onclick="searchByCond(this,3)" style="cursor:pointer;">
                                                            <a href="javaScript:void(0);">一般</a></li>
                                                        <li onclick="searchByCond(this,4)" style="cursor:pointer;">
                                                            <a href="javaScript:void(0);">轻微</a></li>
                                                    </ul>
                                                </div>
                                            </th>
                                            <th class="gaojing_td4">故障名称</th>
                                            <th class="gaojing_td5">设备间隔</th>
                                            <th class="gaojing_td6">设备名称</th>
                                            <th class="gaojing_td7">
                                                <div style="position:relative;">
                                                    <a href="javascript:;">未关闭<em class="proTriangle"></em></a>
                                                    <input type="hidden" name="params.processStatus">
                                                    <ul>
                                                        <li onclick="searchByCond(this,'8')"
                                                            style="cursor:pointer;"><a href="javaScript:void(0);">未关闭</a>
                                                        </li>
                                                        <li onclick="searchByCond(this,'')" id="processStatus_all"
                                                            style="cursor:pointer;"><a
                                                                href="javaScript:void(0);">全部</a></li>
                                                        <li onclick="searchByCond(this,1)" style="cursor:pointer;">
                                                            <a href="javaScript:void(0);">未确认</a></li>
                                                        <li onclick="searchByCond(this,2)" style="cursor:pointer;">
                                                            <a href="javaScript:void(0);">待处理</a></li>
                                                        <li onclick="searchByCond(this,3)" style="cursor:pointer;">
                                                            <a href="javaScript:void(0);">处理中</a></li>
                                                        <li onclick="searchByCond(this,4)" style="cursor:pointer;">
                                                            <a href="javaScript:void(0);">已解决</a></li>
                                                        <li onclick="searchByCond(this,9)" style="cursor:pointer;">
                                                            <a href="javaScript:void(0);">已关闭</a></li>
                                                    </ul>
                                                </div>
                                            </th>
                                            <th class="gaojing_td8">发生时间</th>
                                            <th class="gaojing_td9">操作</th>
                                        </tr>
                                        </thead>
                                    </table>

                                </div>
                                <div class="nbq_tab_bottom_gaojing">
                                    <div class="lch_refreshTB" id="refreshTB">
                                        <input type="hidden" id="faultDeviceNameLink" value="true">
                                        <input type="hidden" name="advice_1" id="advice_1" value="0">
                                        <input type="hidden" name="prompt_1" id="prompt_1" value="34673">
                                        <input type="hidden" name="fault_1" id="fault_1" value="0">
                                        <table>
                                            <tbody style="width:100%;" id="warn_tbody">

                                            <!--<tr class="problem_color"-->
                                                <!--onclick="showDetail('12107.20170312.88.054049','过负荷告警','12107.20170312.88.054049','2017-03-12 13:00:15','','1','6','system','20170312130540','0','35KV孚杨广线孚31','','','12','108816','108816_12_2_1','湖北广水II期20MW','1','12107','2');">-->
                                                <!--<td class="gaojing_td1"-->
                                                    <!--style="word-break:break-all; word-wrap:break-word;"><input-->
                                                        <!--type="checkbox" name="batchIds"-->
                                                        <!--value="12107.20170312.88.054049_-过负荷告警_-1_-35KV孚杨广线孚31_-1_-108816_12_2_1_-2017-03-12 13:00:15_-2_-湖北广水II期20MW"-->
                                                        <!--onclick="changeColor(this, 9)"></td>-->
                                                <!--<td class="gaojing_td2"-->
                                                    <!--style="word-break:break-all; word-wrap:break-word;">-->
                                                    <!--<span>告警</span>-->
                                                <!--</td>-->
                                                <!--<td class="gaojing_td3"-->
                                                    <!--style="word-break:break-all; word-wrap:break-word;">-->
                                                    <!--<span>重要</span>-->
                                                <!--</td>-->
                                                <!--<td class="gaojing_td4"-->
                                                    <!--style="word-break:break-all; word-wrap:break-word;">过负荷告警-->
                                                <!--</td>-->
                                                <!--<td class="gaojing_td5"-->
                                                    <!--style="word-break:break-all; word-wrap:break-word;">未知设备间隔-->
                                                <!--</td>-->
                                                <!--<td class="gaojing_td6"-->
                                                    <!--style="word-break:break-all; word-wrap:break-word;">-->
                                                    <!--<a style="cursor: pointer; color: #1c87ba"-->
                                                       <!--onclick="faultdeviceClick('108816_12_2_1', '108816')">35KV孚杨广线孚31</a>-->
                                                <!--</td>-->
                                                <!--<td class="gaojing_td7"-->
                                                    <!--style="word-break:break-all; word-wrap:break-word;"-->
                                                    <!--id="process_status9"><span>未确认</span></td>-->
                                                <!--<td class="gaojing_td8"-->
                                                    <!--style="word-break:break-all; word-wrap:break-word;">2017-03-12-->
                                                    <!--13:00:15-->
                                                <!--</td>-->
                                                <!--<td class="gaojing_td9"-->
                                                    <!--style="word-break:break-all; word-wrap:break-word;">-->
                                                    <!--<a href="javascript:;"-->
                                                       <!--onclick="showFaultDetailPage('12107.20170312.88.054049','108816_12_2_1');"-->
                                                       <!--class=""><img-->
                                                            <!--src="https://img.isolarcloud.com/webapp/resources/portal/images/cha.png"-->
                                                            <!--title="详细"></a>-->
                                                    <!--<a href="javascript:;"-->
                                                       <!--onclick="singlePro(1,'2','12107.20170312.88.054049','过负荷告警','35KV孚杨广线孚31','1','108816_12_2_1','湖北广水II期20MW','108816','2017-03-12 13:00:15','12107');"-->
                                                       <!--class=""><img-->
                                                            <!--src="https://img.isolarcloud.com/webapp/resources/portal/images/confirm_icon.png"-->
                                                            <!--title="转消缺票"></a>-->
                                                    <!--<a href="javascript:;"-->
                                                       <!--onclick="singlePro(9,'2','12107.20170312.88.054049','过负荷告警','35KV孚杨广线孚31','1','108816_12_2_1','湖北广水II期20MW','108816','2017-03-12 13:00:15','12107');"-->
                                                       <!--class=""><img src="https://img.isolarcloud.com/webapp/resources/portal/images/faultDelete_icon.png"-->
                                                            <!--title="关闭"></a>-->
                                                <!--</td>-->
                                            <!--</tr>-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="page-div" style="position: absolute;left: 0px;bottom: 0px;">
                            <div id="Paginationother" class="pagination Page_other"></div>
                        </div>
                    </div>

                    <div class="problem_con_more fr" style="overflow: auto; height:100%;">
                        <ul class="pcmore_ul" style="overflow: auto;">
                            <li>
                                <span>故障名称</span>
                                <em id="faultName" style="white-space:nowrap;text-overflow:ellipsis;" title=""></em>
                                <input type="hidden" id="faultId" value=""><input type="hidden" id="deviceName"
                                                                                  value="">
                            </li>
                            <li>
                                <span>故障编号</span>
                                <em><input type="text" readonly="" id="faultCode" title=""
                                           style="text-overflow: ellipsis;"></em>
                            </li>
                            <li>
                                <span>发生时间</span><em id="updateTime"></em>
                            </li>
                            <li>
                                <span>故障来源</span><em id="faultSrc"></em>
                            </li>
                            <li>
                                <span>申报人</span><em id="creater"></em>
                            </li>
                            <li id="orderNo" style="display:none;">
                                <span>工单号</span>
                                <em><input type="text" readonly="" id="orderNoEm" title=""></em>
                            </li>
                        </ul>
                        <div class="problem_dialog">

                            <div class="problem_dialogB">
                                <div class="boxlists clearfix">
                                    <div class="boxlists-left fl">
                                        <div class="boxxian"></div>
                                        <ul>
                                            <li><span style="margin-top:0px;"></span></li>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                            <li><span></span></li>
                                        </ul>
                                    </div>
                                    <div class="boxlists-right fr">
                                        <ul>
                                            <li class="clearfix">
                                                <div class="clearfix" style="padding-top: 8px">
                                                    <span class="boxt1 fl" style="display: block;">未确认</span>

                                                    <div class="clearfix fr" style="width: 70%">
                                                        <span class="boxt2" title=""></span>
                                                        <input class="fault_box" readonly="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="clearfix" style="padding-top: 8px">
                                                    <span class="boxt1 fl" style="display: block;">待处理</span>

                                                    <div class="clearfix fr" style="width: 70%">
                                                        <span class="boxt2" title=""></span>
                                                        <input class="fault_box" readonly="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="clearfix" style="padding-top: 8px">
                                                    <span class="boxt1 fl" style="display: block;">处理中</span>

                                                    <div class="clearfix fr" style="width: 70%">
                                                        <span class="boxt2" title="" style="width: 195px;"></span>
                                                        <input class="fault_box" readonly="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="clearfix" style="padding-top: 8px">
                                                    <span class="boxt1 fl" style="display: block;">已解决</span>

                                                    <div class="clearfix fr" style="width: 70%">
                                                        <span class="boxt2" title="" style="width: 195px;"></span>
                                                        <input class="fault_box" readonly="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="clearfix" style="padding-top: 8px">
                                                    <span class="boxt1 fl" style="display: block;">已关闭</span>

                                                    <div class="clearfix fr" style="width: 70%">
                                                        <span class="boxt2" title="" style="width: 195px;"></span>
                                                        <input class="fault_box" readonly="">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" value="psFaultPage" id="pageId">
    </div>

</div>

<!--tree tpl-->
<script type="text/template" id="powerTpl0">
    <% for(var i=0;i< newNodes.length; i++){ %>
    <li id="<%=newNodes[i].id%>" class="level0"
        data-isdata="<%=newNodes[i].isdata%>"
        data-fd_tablename="<%=newNodes[i].fd_tablename%>"
        data-fd_code="<%=newNodes[i].fd_code%>"
            >
        <span id="<%=newNodes[i].id%>_0<%=i%>_switch" title=""
              class="button level0 switch <%=newNodes[i].treeIcon%>"></span>
        <a id="<%=newNodes[i].id%>_0<%=i%>_a" class="level0" title="<%=newNodes[i].fd_name%>">
            <% if(newNodes[i].icon == '' ){ %>
            <span class="button ico_close"></span>
            <% }else{ %>
            <span class="button ico_close" style="background:url(<%=newNodes[i].icon%>) 0 0 no-repeat;"></span>
            <% } %>
            <span id="tit"><%=newNodes[i].name%></span>
        </a>
    </li>
    <% } %>
</script>


<!--故障table-->
<script type="text/template" id="warn_tpl">
<% for(var i=0; i< resTr.length; i++){ %>
<tr class="problem_color">
    <td class="gaojing_td1"><input type="checkbox" name="batchIds" value=""></td>
    <td class="gaojing_td2"><span><%=resTr[i].fd_alarm_state_str%></span></td>
    <td class="gaojing_td3"><span><%=resTr[i].fd_alarm_level_str%></span></td>
    <td class="gaojing_td4"><%=resTr[i].fd_name%></td>
    <td class="gaojing_td5"><%=resTr[i].fd_dev_parent_name%></td>
    <td class="gaojing_td6"><a href="javascript:;"><%=resTr[i].fd_dev_name%></a></td>
    <td class="gaojing_td7" id="process_status9"><span><%=resTr[i].fd_order_state_str%></span></td>
    <td class="gaojing_td8"><%=resTr[i].fd_start_date%></td>
    <td class="gaojing_td9">
        <a href="javascript:;" class="">
            <img src="../jsp/portal/resource/images/cha.png" title="详细">
        </a>
        <a href="javascript:;" class="">
            <img src="../jsp/portal/resource/images/confirm_icon.png" title="转消缺票">
        </a>
        <a href="javascript:;" class="">
            <img src="../jsp/portal/resource/images/faultDelete_icon.png" title="关闭">
        </a>
    </td>
</tr>

<% } %>
</script>


<script src="../jsp/portal/resource/js/jquery-1.8.3.min.js"></script>
<script src="../js/lib/vlm.js"></script>
<script src="../js/lib/vue.js"></script>
<script src="../js/lib/ejs.js"></script>
<script src="../js/common/base.js"></script>
<script src="../js/common/esmpbase.js"></script>
<script src="../jsp/portal/resource/2.0/js_new/slide-js.js"></script>
<script src="../jsp/plugin/layer/layer.min.js"></script>
<script src="../jsp/portal/resource/2.0/js_new/common.js"></script>
<script src="../jsp/portal/resource/2.0/js_new/echarts.min.js"></script>
<script src="../jsp/plugin/My97DatePicker/WdatePicker.js"></script>
<script src="../jsp/portal/resource/2.0/js_new/media.js"></script>
<script src="../js/common/common_zh_CN.js"></script>
<script src="../js/common/DateUtil.js"></script>
<script src="../jsp/plugin/easydialog/easydialog.min.js"></script>
<script src="../jsp/plugin/pager/pager.js"></script>
<script src="../jsp/plugin/jquery-select/js/select2.min.js"></script>
<script src="../jsp/portal/resource/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../jsp/portal/resource/js/showTreeImg.js"></script>
<script src="../jsp/portal/resource/js/jquery.minicolors2.js"></script>
<script src="../js/portal/powerManage/warn_manage.js"></script>


</body>
</html>